@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&family=Catamaran:wght@400;500&family=Montserrat:wght@200;300;400&family=Poppins:wght@200;300;400&family=Raleway:ital,wght@0,300;0,400;0,600;1,300&family=Tangerine:wght@400;700&family=Vollkorn&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #312e81;
}

.wrapper {
  width: 450px;
  background: #fff;
  border-radius: 10px;
}

.wrapper header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px 10px;
}

header .current-date {
  font-size: 1.45rem;
  font-weight: 500;
}

header .icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  cursor: pointer;
  color: #878787;
  font-size: 1.9rem;
}

header .icons span:hover {
  background: #f2f2f2;
}

header .icons span:last-child {
  margin-right: -10px;
}

.calender {
  padding: 20px;
}

.calender ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}

.calender .days {
  margin-bottom: 20px;
}

.calender .weeks li {
  font-weight: 500;
}

.calender ul li {
  position: relative;
  width: calc(100% / 7);
}

.calender .days li {
  z-index: 1;
  margin-top: 30px;
  cursor: pointer;
}

.days li.inactive {
  color: #aaa;
}

.days li.active {
  color: #fff;
}

.calender .days li::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.days li:hover::before {
  background: #f2f2f2;
}

.days li.active::before {
  background: #312e81;
}
